aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
factor
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
suite
.deps
*.o
